<a href="https://colab.research.google.com/github/daje0601/pandas_study/blob/main/%EC%84%A0%ED%98%95%ED%9A%8C%EA%B7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn import preprocessing
import pandas as pd
import numpy as np
from math import sqrt



!pandas read csv form github

#[url로 외부에서 데이터 가져오기]
url = "https://raw.githubusercontent.com/daje0601/pandas_study/main/NBA_player_of_the_week.csv"
df = pd.read_csv(url)

/bin/bash: pandas: command not found

In [ ]:
df.head()

           Player                    Team  ... Weight KG Last Season
0    Jayson Tatum          Boston Celtics  ...        94           1
1    Nikola Jokic          Denver Nuggets  ...       113           1
2    Jaylen Brown          Boston Celtics  ...        99           1
3  Damian Lillard  Portland Trail Blazers  ...        88           1
4   Pascal Siakam         Toronto Raptors  ...       104           1

[5 rows x 17 columns]

In [ ]:
df.describe()

            Weight          Age  ...    Weight KG  Last Season
count  1340.000000  1340.000000  ...  1340.000000  1340.000000
mean    224.567164    26.738060  ...   101.384328     0.023881
std      30.798885     3.400683  ...    14.011226     0.152734
min     150.000000    19.000000  ...    68.000000     0.000000
25%     205.000000    24.000000  ...    93.000000     0.000000
50%     220.000000    26.000000  ...    99.000000     0.000000
75%     250.000000    29.000000  ...   113.000000     0.000000
max     325.000000    40.000000  ...   147.000000     1.000000

[8 rows x 9 columns]

In [ ]:
 df_set = df[["Height CM", "Weight KG", "Age"]]
 df_set.head()

   Height CM  Weight KG  Age
0        203         94   21
1        213        113   25
2        201         99   23
3        190         88   29
4        206        104   25

In [ ]:
scaler = preprocessing.MinMaxScaler()

In [ ]:
normalized_data = scaler.fit_transform(df_set)
normalized_data

array([[0.51851852, 0.32911392, 0.0952381 ],
       [0.7037037 , 0.56962025, 0.28571429],
       [0.48148148, 0.39240506, 0.19047619],
       ...,
       [0.48148148, 0.37974684, 0.23809524],
       [0.38888889, 0.21518987, 0.23809524],
       [0.42592593, 0.27848101, 0.52380952]])

In [ ]:
normalized_df = pd.DataFrame(normalized_data, columns=["height","weight","age"])
normalized_df.describe()# 데이터의 min max가 0과 1사이에 있다는 걸 확인하기 위해

            height       weight          age
count  1340.000000  1340.000000  1340.000000
mean      0.482808     0.422586     0.368479
std       0.173481     0.177357     0.161937
min       0.000000     0.000000     0.000000
25%       0.333333     0.316456     0.238095
50%       0.481481     0.392405     0.333333
75%       0.611111     0.569620     0.476190
max       1.000000     1.000000     1.000000

feature scaling : 입력변수들의 크기를 조정해서 일정 범위 내에 떨어지도록 바꾸는 것   
그중 min-max normalization : 최소값, 최대값을 이용해서 변수의 크기를 0과 1 사이로 조정   
이는 경사하강법을 좀더 빠리 할 수 있게 도와준다.   
  
이번시간에는 어떻게 그게 가능한지 확인함   
  
선형회귀에서는 데이터에 잘 맞는 일차함수를 찾는 것인데   
이것은 평균제곱오차를 최소화하겠다는 의미이다.   
  
천만단위를 가지고 있는 함수를 feature scale을 함으로써 결과값이 차이가 큰폭으로 발생되지 않게 한다.   
그리고 등고선의 수직방향이 가장 가파른 경사를 의미한다 등고선이 찌그러져 있으면, 여러 방향으로 움직이면서 손실이 급격히 변하나  
feature scaling을 하게 되면 수직방향을 적은 횟수 만에 최소점을 찾을 수 있다.   
이러한 방향은 다항회귀나, 로직 회귀에서도 적용가능하다

![image.png]()

In [ ]:
df_older = pd.DataFrame([25, 49, 32, 35, 40])

In [ ]:
money = pd.DataFrame([25000000, 35000000, 30000000, 50000000, 35000000])

In [ ]:
df_older

    0
0  25
1  49
2  32
3  35
4  40

In [ ]:
scaler = preprocessing.MinMaxScaler()

In [ ]:
normalized_data = scaler.fit_transform(df_older)
normalized_data

array([[0.        ],
       [1.        ],
       [0.29166667],
       [0.41666667],
       [0.625     ]])

In [ ]:
normalized_data = scaler.fit_transform(money)
normalized_data

array([[0. ],
       [0.4],
       [0.2],
       [1. ],
       [0.4]])

# one-hot Encoding

In [ ]:
# 범주형 데이터를 수치형 데이터로 바꾸어주어야 함 
# 혈액형을 예로 들어볼게요
# A, B, AB, O형이 있는데 이 친구들에게 1,2,3,4의 형태로 숫자로 변형해주었다고 할까요?
# 오호~ 분석을 진행하는데 혈액형별로 크기가 주어저버려서 문제가 발생이 되네요
# 그럼 어떻게 해야할까요? 각각의 row별로 4개의 컬럼을 만들어주어 0, 1로 넣어주면 되겠네요
# 이러한 방법을 one-hot Encoding이라고 한다.

In [ ]:
 df.head()

           Player                    Team  ... Weight KG Last Season
0    Jayson Tatum          Boston Celtics  ...        94           1
1    Nikola Jokic          Denver Nuggets  ...       113           1
2    Jaylen Brown          Boston Celtics  ...        99           1
3  Damian Lillard  Portland Trail Blazers  ...        88           1
4   Pascal Siakam         Toronto Raptors  ...       104           1

[5 rows x 17 columns]

In [ ]:
df1 = df[["Position", "Conference"]]

In [ ]:
one_hot_encoded_df = pd.get_dummies(df1)
one_hot_encoded_df

      Position_C  Position_F  ...  Conference_East  Conference_West
0              0           0  ...                1                0
1              1           0  ...                0                1
2              0           0  ...                1                0
3              0           0  ...                0                1
4              0           1  ...                1                0
...          ...         ...  ...              ...              ...
1335           0           0  ...                0                0
1336           0           0  ...                0                0
1337           0           0  ...                0                0
1338           0           0  ...                0                0
1339           0           0  ...                0                0

[1340 rows x 13 columns]

In [ ]:
# 기존데이터에 one_hot_encoded_df 추가하기 
one_hot_encoded_df = pd.get_dummies(data=df, columns=["Position", "Conference"])
one_hot_encoded_df.head()

           Player                    Team  ... Conference_East Conference_West
0    Jayson Tatum          Boston Celtics  ...               1               0
1    Nikola Jokic          Denver Nuggets  ...               0               1
2    Jaylen Brown          Boston Celtics  ...               1               0
3  Damian Lillard  Portland Trail Blazers  ...               0               1
4   Pascal Siakam         Toronto Raptors  ...               1               0

[5 rows x 28 columns]

## 머신러닝이 정확하게 예측을 하지 못하는 경우가 많은데요 
##그런 경우 처리하는 방법에 대해 지금 배워볼게요

편향 :
편향이 높다 -> 모델이 너무 간단해서 복작한 곡선 관계를 학습 할 수 없다. 
편향이 낮다 -> 주어진 데이터의 관계를 잘 학습한다. 

분산 : 데이터 셋 별로 모델이 얼마나 일관된 성능을 보여주는지 알려준다 
분산이 높다 : 성능차이가 많이 난다. 
분산이 낮다 : 성능 차이가 적다

과소적합(underfit) : 위 모델은 편향이 높고, 분산이 낮은 모델
과적합(overfit) : 편향이 낮고, 분산이 높은 모델
편향 - 분산 트레이드오프 : 일반적으로 편향과 분산은 하나가 줄어들수록 하나는 늘어나는 관계

과소적합 해결방법 : 충분히 복잡한 높은 차원의 다항 데이터를 사용하는 것

In [ ]:
url = "https://raw.githubusercontent.com/daje0601/pandas_study/main/admission_data.csv"
df = pd.read_csv(url)

In [ ]:
df.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [ ]:
X = df.drop(["Chance of Admit "], axis=1)

polynomial_transformer = PolynomialFeatures(6)
Polynomial_Features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names(X.columns)
X = pd.DataFrame(Polynomial_Features, columns=features)
X.head()

     1  Serial No.  GRE Score  ...  CGPA^2 Research^4  CGPA Research^5  Research^6
0  1.0         1.0      337.0  ...            93.1225             9.65         1.0
1  1.0         2.0      324.0  ...            78.6769             8.87         1.0
2  1.0         3.0      316.0  ...            64.0000             8.00         1.0
3  1.0         4.0      322.0  ...            75.1689             8.67         1.0
4  1.0         5.0      314.0  ...             0.0000             0.00         0.0

[5 rows x 3003 columns]

In [ ]:
y = df[["Chance of Admit "]]
y.head()

   Chance of Admit
0              0.92
1              0.76
2              0.72
3              0.80
4              0.65

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

In [ ]:
mse = mean_squared_error(y_train, y_train_predict)
print(sqrt(mse))
print()
mse = mean_squared_error(y_test, y_test_predict)
print(sqrt(mse))

7.801921946944297e-10

0.9952571531146508

정규화 : 가설함수의 세터값들이 너무 커지는 걸 방지해서 과적합을 예방하는 방법

손실함수가 작을수록 좋은 가설함수 
손실함수가 클수록 더 안좋은 가설함수

위에서 우리는 train에는 좋은 값을 가졌으나, test에서 안좋은 값을 나타내었던 모델을 개선하고자 한다. 

좋은 가설함수의 기준을 조금만 바꾸어주면 이러한 문제를 해결할 수 있다. 

새로운 기준 : train data에 대한 오차도 작고 세타값들도 작아야지 좋은 가설 함수이다 

L1 절대값을 다 더한다. lasso모델
L2제곱한 값을 더한다.  ridge모델

#L1 Lasso 정규화

In [2]:
url = "https://raw.githubusercontent.com/daje0601/pandas_study/main/admission_data.csv"
df = pd.read_csv(url)

X = df.drop(["Chance of Admit "], axis=1)

polynomial_transformer = PolynomialFeatures(6)
Polynomial_Features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names(X.columns)
X = pd.DataFrame(Polynomial_Features, columns=features)

y = df[["Chance of Admit "]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)
model = Lasso(alpha=0.001, max_iter=1000, normalize=True)
# alpha = 람타는 세타값이 커짐에 따라 얼마큼의 패널티를 줄지를 결정하는 변수인데 여기서는 그걸 알파(alpha)이다 
# max_iter = 경사하강법을 몇번할지를 설정해주는 것 
# normalize=True feature scale을 하면 더 극소점을 빨리 찾을 수 있는데, lasso는 자체적으로 그 기능을 가지고 있음 
# L2 정규화를 하려면 Lasso를 Ridge로 바꾸어주면 된다. ( 옵셔널 파라미터는 lasso와 같다 )
model.fit(X_train, y_train)

y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

mse = mean_squared_error(y_train, y_train_predict)
print(sqrt(mse))
print()
mse = mean_squared_error(y_test, y_test_predict)
print(sqrt(mse))

0.06329575019490115

0.06000348571173352

K겹 교차 검증 

학습데이터
평가데이터 
를 가지고 모델을 만들면 무슨 문제가 발생될까?
이곳에서만 성능이 좋거나, 이곳에서만 성능이 안좋은 모델을 만들 수 있다.
모델의 성능을 적절하게 할 수 없다라는 문제점이 있다. 

이러한 문제를 해결하기 위해 K겹 교차 검증 을 하게 된다. 

K겹 교차 검증은 하나의 데이터를 k로 나눈 후 K-1개로 훈련을 시키고 나머지 1개로 테스트를 진행하는 평가한다. 위와 같이 5개의 데이터를 돌아가면서 훈련&평가를 시키고 해당 성능평가의 평균을 구하는 방법이다.

In [6]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

하이퍼파라미터 : 우리가 직접넣어줘야하는 파라마터들이다. 

좋은 하이퍼파라미터를 넣어주어야 되는데, 그 좋은 하이퍼파라미터를 고르는 방법이 그리드서치이다